/* Empty. Add your own CSS if you like */
.seltesthead{
	margin-bottom: 0px !important;
}

.seltestbody.ng-hide-remove{
	-webkit-animation:0.3s show;
  	animation:0.3s show;
}

.seltestbody.ng-hide-add{
	-webkit-animation:0.3s hide;
  	animation:0.3s hide;
}
@keyframes hide {
  from { 	height: -87px;
  			margin-bottom: 20px;
  			padding-bottom: 1px; }
  to { 	height: 0px; 
  		margin-bottom: 0px;
  		padding-bottom: 0px;}
}
@-webkit-keyframes hide {
 from { height: -87px; 
 		margin-bottom: 20px;
 		padding-bottom: 1px;}
  to { 	height: 0px; 
  		margin-bottom: 0px;
  		padding-bottom: 0px;}
}
@keyframes show {
 from { height: 0px; }
  to { height: 87px; }
}
@-webkit-keyframes show {
  from { height: 0px; }
  to { height: 87px; }
}
.seltestbody{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	height: 87px;
	padding-top: 0px;

}
.seltestopt{
	border-left-width: 1px;
	border-right-width: 1px;
	margin-left: 2px;
	margin-right: 2px;
}